@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  font-family: 'Raleway', sans-serif;
}

nav {
    height:80px;
    color: white;
    text-align: center;
    background-color:#000040;
    clear: left;
}

.logo {
    padding-bottom:15px;
    list-style: none;
    font-size:30px;
    float:left;
}
h2 {
  text-align: center;
}
nav ul {
    list-style: none;
    float:right;
}

nav li{
    margin-right: 2px;
    display:inline;
}
#logo {
    text-align:left;
}
#navigation {
    text-align:right;
}
.navigation{
    margin-right:5px;
    padding-top:10px;
    font-size :20px;
    float:right;
    display:inline;
}

.process{
    padding:10px 100px 5px 100px;
    margin: 0 auto;
    text-align: center;
    clear:both;
}

input[type=text],select, input[type=password],select, input[type=submit],select {
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}

footer {
    color: white;
    background-color: #000040;
    position:absolute;
    bottom:0;
    width:100%;
    text-align: left;
    padding-left: 20px;
}

nav, footer {
  background: #2574A9 ;
}
