{% extends "base.html" %}
{% load staticfiles %}
{% block title %} 
<title>Select</title>
<link rel="stylesheet" type="text/css" href={% static "css/home.css" %}>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
{% endblock %}
{% block content %}
<div class="process">
<h2>Step:2</h2>
<p></p>
<h3><b>What do you want to do?</b></h3>
<div class="list">
<ul class="icon">
<li> <img class="svg-icon" src={% static "exam.svg" %}> <a href="#">   Create a new Question Paper </a> </li>
<li> <img class="svg-icon" src={% static "library.svg" %}> <a href="/add_ques/">  Add a new Question to bank </a> </li>
<li> <img class="svg-icon" src={% static "open-book.svg" %}> <a href="/view_all/">  View all questions in bank</a> </li>
</ul>
</div>
</div>
{% endblock %}

